.navConteiner {
  display: flex;
  gap: 5px;
}
.link {
  display: inline-flex;
  padding: 8px;
  list-style: none;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  filter: drop-shadow(5px 5px 5px rgb(17, 9, 16));
}
.link:hover {
  color: rgb(211, 84, 207);
  background-color: #fff;
}
.active {
  background-color: rgb(211, 84, 207);
}
